<div class="searchBar">
    <div class="container">
        <form action="/search" class="search__form" role="search" method="post">
            <input type="search" aria-label="Search" id="searchInput" name="searchTerm" placeholder="Search the tiltle...">
        </form>
        <div id="searchClose">Close</div>
        <br>
        <br>
    </div>
</div>